// $accent-green: #24CCA7;
// $accent-blue: #4A56E2;
// $accent-pink: #FF6596;
// $black-color: #000000;
// $white-color: #FFFFFF;
// $grey-color: #A6A6A6;

// $bcg-main-color: rgba(231, 234, 242, 1);
// $bcg-pink-grad-color: #FFD8D0;
// $bcg-blue-grad-color: #C5BAFF;

:root {
    --main-text-cl: #000000;
    --secondary-text-cl: #bdbdbd;
    --auth-bg-cl: #e7eaf2;
    --main-bg-cl: #ffffff;
    --secondary-bg-cl: rgba(255, 255, 255, 0.4);
    --accent-active-cl: #4a56e2;
    --accent-inactive-cl: #6e78e8;
    --income-cl: #24cca7;
    --income-hover-cl: #2eb899;
    --expense-cl: #ff6596;
    --expense-hover-cl: #e75b88;
    --bottom-table-row: #DCDCDF;
    --bcg-main-color: rgba(231, 234, 242, 1)
}