$accent-green: #24CCA7;
$accent-blue: #4A56E2;
$accent-pink: #FF6596;
$black-color: #000000;
$white-color: #FFFFFF;
$grey-color: #A6A6A6;
$income-hover-cl: #2eb899;
$secondary-bg-cl: rgba(255, 255, 255, 0.4);

$bcg-pink-grad-color: #FFD8D0;
$bcg-blue-grad-color: #C5BAFF;