.mobileNav{
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.tabletNav{
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }
}

.nav{}

.list{}

.item{}

.link{
    display: block;
    background-color: #6E78E8;
}

.link:global(.active) {
    background-color: var(--accent-blue);
}

.favWrapper{
}

